.box {
    width: 300px;
    height: 300px;
    border: 2px solid brown;
    background-color: blue;
    margin: 0 auto;
    border-radius: 50%;
}
.item {
    width: 200px;
    height: 200px;
    border: 3px solid rgb(33, 18, 110);
    background-color: rgb(222, 236, 181);
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 50px;
}